<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: headFragment('主题指定回复信息')">
    <meta charset="UTF-8">
    <title>主题指定回复信息</title>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header" th:replace="admin/fragments/header :: headerFragment"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">主题指定回复信息</h1>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card bg-warning">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">帖子名称</label>
                                    <p th:text="${themeIdTitleMap.get(responseToRes.themeId)}"></p>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">被评论人</label>
                                    <p th:if="${responseToRes.responseToresponseId!=null}"
                                        th:text="${idNameMap.get(userIdResponseToresponseIdMap.get(responseToRes.responseToresponseId))}"> </p>
                                    <p th:if="${idNameMap.get(idResponderIdMap.get(responseToRes.responseId))!=null}"
                                        th:text="${idNameMap.get(idResponderIdMap.get(responseToRes.responseId))}"></p>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">评论时间</label>
                                    <p th:text="${#dates.format(responseToRes.recoveryTime, 'yyyy-MM-dd HH:mm')}"></p>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">评论内容</label>
                                    <p th:text="${responseToRes.content}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">更多操作</div>
                            <div class="card-body">
                                <a class="btn btn-outline-danger btn-block"
                                   th:href="@{/admin/responseToRes/delete/{id}(id=${responseToRes.id})}">删除此回复</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="admin/fragments/footer :: footerFragment"></footer>
</body>
</html>