<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment(${title})">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>
<main role="main">
    <nav class="" id="nav1" style="background-color: #b8daff;height:180px;">
        <div id="t1"class="row">

            <div class="col-3" style="margin-top: 35px">
                <div class="mx-auto position-relative">
                    <img src="" style="border-radius:100%;float:right;width: 100px;height: 100px;"
                         class="card-img-top avatar"
                         th:src="@{'/image/' + ${user.photo}}" alt="userAvatar">
                </div>
            </div>
            <div class="col-9" style="margin-top:35px">
                <div class="row">
                    <div class="col-3" style="font-weight:bold; font-size: 23px;">
                        <a id="themeTitle" style="text-decoration: none;color: black;" href=""> <span
                                th:text="${user.username}">XXX</span></a>
                    </div>
                  <div class="col-9">  <h6 style="font-weight: bold;">消息：</h6>
                      <span >您有</span>
                      <span style="font-weight: bold;color:red;" th:text="${' '+resNumber+' '}"></span>
                      <span >条新回复</span>
                  </div>

                </div>

                </br>
                <div id="text6" style="font-size: 14px;margin-top: -15px">
                    <span th:text="'类型:'+'  '+ ${user.type}"></span>

                </div>
                </br>
                <div id="text" style="font-size: 14px;margin-top: -10px">
                    <span th:text="'UID:'+ ${user.id}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="'Email:'+${user.email}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#t1"style="text-decoration: none"><span class="bg-primary text-white"style="border-radius: 3px;font-size: 15px">我的帖子</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#t2"style="text-decoration: none"><span class="bg-success text-white" style="border-radius: 3px;font-size: 15px">我的回复</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#t3"style="text-decoration: none"><span class="bg-warning text-white" style="border-radius: 3px;font-size: 15px">我的私信</span></a>&nbsp;
                </div>

            </div>


        </div>

    </nav>


    <div class="container container-main">

        <div class="row slide-up-fade-in">
            <div class="col-md-3">
                <h3 style="float: right;font-weight: bold">发布的帖子：</h3>

            </div>

            <div class="col-md-8">
                <ul class="list-group" id="list-group1">
                    <div th:if="${themes.isEmpty()}">空空如也，何不创造一个</div>
                    <li class="list-group-item" id="list-group-item1" th:each="theme : ${themes}">


                        <div class="row">

                            <div class="col-1">
                                <div class="mx-auto position-relative">
                                    <img src="" style="border-radius:100%;float:right;width: 50px;height: 50px;"
                                         class="card-img-top avatar"
                                         th:src="@{'/image/' + ${idPhotoMap.get(theme.creatorId)}}" alt="userAvatar">
                                </div>
                            </div>
                            <div class="col-11">
                                <div style="font-weight:bold; font-size: 18px; margin-bottom:-23px;">
                                    <a id="themeTitle1" style="text-decoration: none;color: black;" href="/"
                                       th:href="@{/theme/view/{id}(id=${theme.id})}"> <span
                                            th:text="${theme.title}">XXX</span></a>

                                    <a href="#" th:href="@{/(category=${theme.categoryId})}"> <span
                                            class="badge badge-warning float-right" style=""
                                            th:style="'border-radius: 3px;background-color:'+${categoryIdColorMap.get(theme.categoryId)}"
                                            th:text="${categoryMap.get(theme.categoryId)}">教育</span></a>


                                </div>
                                </br>
                                <div id="text1" style="font-size: 14px; color: darkgrey;">


                                <span style="font-weight: bold;color: darkgrey;">➥ <a href=""
                                                                                      style=" text-decoration: none;color: darkgrey;"
                                                                                      th:text="${idNameMap.get(theme.creatorId)}"></a></span>
                                    <span th:text="${'创建于:'+ #dates.format(theme.publishTime,'yyyy-MM-dd HH:mm')}"></span>
                                    <span class="float-right" style="color: darkgrey"
                                          th:text="'回复量：'+${theme.resNumber}"></span>
                                </div>

                            </div>


                        </div>
                    </li>

                </ul>


            </div>


        </div>


        <!--回复-->
        <div id="t2" class="row slide-up-fade-in" style="margin-top: 25px">
            <div class="col-md-3">
                <h3 style="float: right;font-weight: bold">最近回复：</h3>

            </div>

            <div class="col-md-8">
                <div>
                    <hr>
                </div>
                <ul class="list-group" id="list-group2">
                    <div th:if="${themes.isEmpty()}">空空如也，何不创造一个</div>
                    <li class="list-group-item" id="list-group-item3" th:each="response : ${responses}">
                        <div class="col-12">
                            <div style="font-weight:bold; font-size: 18px; margin-bottom:-23px;">
                                <a id="themeTitle2" style="text-decoration: none;color: black;" href="/"
                                   th:href="@{/theme/view/{id}(id=${response.themeId})}"> <span
                                        th:text="${themeIdNameMap.get(response.themeId)}">XXX</span></a>
                                <a href="#" th:href="@{/response/delete/{id}(id=${response.id})}"> <span
                                        class="badge badge-danger float-right"
                                        style="border-radius: 3px;margin-left: 8px">删除</span></a>
                                <a href="#" th:href="@{/response/edit/{id}(id=${response.id})}"> <span
                                        class="badge badge-primary float-right"
                                        style="border-radius: 3px;margin-right: 15px">更改</span></a>

                            </div>

                            </br>
                            <div id="text2" style="font-size: 14px;margin-top: 10px">
                                <span style="color: darkgrey">回复内容：</span>
                                <span
                                        th:text="${response.content}"></span>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <!--私信-->
        <div id="t3" class="row slide-up-fade-in" style="margin-top: 25px">
            <div  class="col-md-3">
                <h3 style="float: right;font-weight: bold">私信查看：</h3>

            </div>

            <div class="col-md-8">
                <div>
                    <hr>
                </div>
                <ul class="list-group" id="list-group5">
                    <div th:if="${letters.isEmpty()}">空空如也,尚无私信</div>
                    <li class="list-group-item" id="list-group-item4" th:each="letter : ${letters}">
                        <div class="col-12">
                            <div>
                                <h6 style="font-weight: bold">发送内容：</h6>
                                 <span th:text="${letter.sendContent}">XXX</span>
                                </br>
                                <h6 style="margin-top: 15px;font-weight: bold">管理员回复内容：</h6>
                                <span th:text="${letter.adminContent}" th:if="${letter.adminContent !=null}">XXX</span>
                                <span th:if="${letter.adminContent ==null}"class="bg-warning"style="color: darkgrey">管理员暂未回复，请耐心等待</span>

                                <a href="#" th:href="@{/admin/letter/delete/{id}(id=${letter.id})}"> <span
                                        class="badge badge-danger float-right"
                                        style="border-radius: 3px;margin-left: 8px">删除</span></a>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                    </li>
                </ul>
            </div>
        </div>








    </div>


    </div>
</main>


</body>
</html>